<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.ChromosView.mapper.CompartmentMapper">

    <insert id="insertFromFile">
        insert into biology.t_compartment(CS_ID, START_POINT, END_POINT, VALUE)
        values
            <foreach collection="list" separator="," item="item">
            (#{item.CS_ID},#{item.START_POINT},#{item.END_POINT},#{item.VALUE})
            </foreach>
    </insert>
    <select id="findCompartmentID" resultType="com.feidian.ChromosView.domain.CompartmentPoint">
        select ID, CS_ID, START_POINT, END_POINT, VALUE
        from biology.t_compartment where CS_ID=#{cs_id} and TISSUE_ID=#{tissue_id} and SOFTWARE_ID=#{software_id};
    </select>
    <select id="findCompartmentEND_START" resultType="com.feidian.ChromosView.domain.CompartmentPoint">
        select ID,CS_ID,START_POINT,END_POINT,VALUE
        from biology.t_compartment where CS_ID=#{cs_id} and START_POINT&gt;=#{start} and END_POINT&lt;=#{end} and TISSUE_ID=#{tissue_id} and SOFTWARE_ID=#{software_id};
    </select>
</mapper>