<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.ChromosView.mapper.RnaMapper">
    <insert id="insertRnaFromFile">
        insert into biology.t_rna(CS_ID, mRNA_NAME, START_POINT, END_POINT, DIRECTION)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.CS_ID},#{item.mRNA_NAME},#{item.START_POINT},#{item.END_POINT},#{item.DIRECTION})
        </foreach>
    </insert>
    <insert id="insertRna_StructureFromFile">
        insert into biology.t_rna_structure
        values
        <foreach collection="list" separator="," item="item">
            (#{item.mRNA_ID},#{item.EXON_ID},#{item.START_POINT},#{item.END_POINT})
        </foreach>
    </insert>
    <select id="selectRnaByID" resultType="com.feidian.ChromosView.domain.RNA">
        select CS_ID, mRNA_ID, mRNA_NAME, START_POINT, END_POINT, DIRECTION
        from biology.t_rna
        where CS_ID = #{CS_ID}
          and mRNA_NAME = #{mRNA_NAME};
    </select>
    <select id="selectRnaStructByID" resultType="com.feidian.ChromosView.domain.RNA_STRUCTURE">
        select mRNA_ID, EXON_ID, START_POINT, END_POINT
        from biology.t_rna_structure
        where mRNA_ID = #{mRNA_ID}
    </select>
    <select id="selectRnaByCS_ID_START_END" resultType="com.feidian.ChromosView.domain.RNA">
        select CS_ID, mRNA_ID, mRNA_NAME, START_POINT, END_POINT, DIRECTION
        from biology.t_rna
        where CS_ID = #{CS_ID}
          and START_POINT >= #{START_POINT}
          and END_POINT &lt;= #{END_POINT}
    </select>
    <select id="selectRnaByCS_ID" resultType="com.feidian.ChromosView.domain.RNA">
        select *
        from biology.t_rna
        where CS_ID = #{CS_ID};
    </select>
    <select id="getMaxID" resultType="java.lang.Integer">
        select max(mRNA_ID)
        from biology.t_rna;
    </select>
</mapper>