<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.ChromosView.mapper.SpeciesMapper">
    <select id="findAll" resultType="java.lang.String">
        --         select  SPECIES_ID,SPECIES_NAME from biology.t_species;
        select distinct t_all_cultivar.SPECIES_NAME
        from t_all_cultivar;
    </select>

</mapper>